<script>
  const handleClick = (event) => {
    const id = event.target.id;
    location.href = `/voting/${id}`;
  }
</script>
<div class="container">
<div id="mainpage-container">
  <header>
    <div>
      <% if (message) { %>
        <span class="mainpage-flash"><%= message %> </span>
      <% } %>
    </div>
    <nav>
      <ul class="mainpage-nav">
        <li><a href="/voting/new">Create vote</a></li>
        <li><a href="/myVotes">My vote</a></li>
        <% if (isLoggedInUser) { %>
          <li><a href="#" onclick="javascript:logoutControl('/logout')">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <% for( let i = 0; i < sortedVotes.length; i++ ) { %>
    <div class="votelist-item <%= presentTime > sortedVotes[i].expireTime ? "vote-end" : "vote-proceed" %>" onclick="handleClick(event)" id="<%= sortedVotes[i]._id %>">
      <h3 id="<%= sortedVotes[i]._id %>">
        <%= sortedVotes[i].voteName %>
      </h3>
      <div id="<%= sortedVotes[i]._id %>">
        <%= presentTime > sortedVotes[i].expireTime ? "만료" : "진행중"%>
      </div>
      <div id="<%= sortedVotes[i]._id %>">
        생성자: <%= sortedVotes[i].voteCreator.username %>
      </div>
      <div id="<%= sortedVotes[i]._id %>">
        <%= sortedVotes[i].expireTime %>까지
      </div>
    </div>
  <% } %>
</div>
</div>
