<script>
  const handleClick = (event) => {
    const id = event.target.id;
    location.href = `/voting/${id}`;
  }
</script>
<header>
  <nav>
    <ul>
      <li><a href="/voting/new">투표 생성</a></li>
      <li><a href="/myVotes">내 투표</a></li>
      <% if (isLoggedInUser) { %>
        <li><a href="#" onclick="javascript:logoutControl('/logout')">로그아웃</a></li>
      <% } else { %>
        <li><a href="/login">로그인</a></li>
      <% } %>
    </ul>
  </nav>
</header>
<h1>메인페이지</h1>
<div>
  <% if (message) { %>
    <span><%= message %> </span>
  <% } %>
</div>
<% for( let i = 0; i < populatedData.length; i++ ) { %>
  <div onclick="handleClick(event)">
    <p id="<%= populatedData[i]._id %> ">
      투표이름: <%= populatedData[i].voteName %><br>
      투표생성자: <%= populatedData[i].voteCreator.username %><br>
      투표만료일: <%= populatedData[i].expireTime %><br>
      만료여부: <%= presentTime > populatedData[i].expireTime ? "만료" : "진행중"%>
    </p>
  </div>
<% } %>
