<script>
  const handleClick = (event) => {
    const id = event.target.id;
    location.href = `/voting/${id}`;
  }
</script>
<div class="container">
  <div id="mainpage-container">
    <header>
      <div class="flux">
        My votes
      </div>
      <div>
        <span style="opacity: 0%;">dummy</span>
      </div>
      <nav>
        <ul class="mainpage-nav">
          <li><a href="/">Main page</a></li>
          <li><a href="#" onclick="javascript:logoutControl('/logout')">Logout</a></li>
        </ul>
      </nav>
    </header>
    <% if (!filteredData.length) { %>
     <div>
       만든 투표가 없습니다. 지금 만들어보세요!
     </div>
    <% } %>
    <% for( let i = 0; i < filteredData.length; i++ ) { %>
      <div class="votelist-item <%= presentTime > filteredData[i].expireTime ? "vote-end" : "vote-proceed" %>" onclick="handleClick(event)" id="<%= filteredData[i]._id %>">
        <h3 id="<%= filteredData[i]._id %>">
          <%= filteredData[i].voteName %>
        </h3>
        <div id="<%= filteredData[i]._id %>">
          <%= presentTime > filteredData[i].expireTime ? "만료" : "진행중"%>
        </div>
        <div id="<%= filteredData[i]._id %>">
          생성자: <%= filteredData[i].voteCreator.username %>
        </div>
        <div id="<%= filteredData[i]._id %>">
          <%= filteredData[i].expireTime %>까지
        </div>
      </div>
    <% } %>
  </div>
</div>
