<header>
  <h1><%= voteData.voteName %> </h1>
  <nav>
    <ul>
      <% if (loggedUserEmail === voteData.voteCreator.email) { %>
       <li><a href='#' onclick='javascript:deleteVote(`/voting/<%= voteData._id %>/delete`)'>투표삭제 </a></li>
      <% } %>
      <li><a href='/'>투표목록으로</a></li>
      <li><a href='#' onclick="javascript:logoutControl('/logout')">로그아웃</a></li>
    </ul>
  </nav>
  생성자: <span><%= voteData.voteCreator.username %></span>
</header>
<div>
  <% if (hasVoted && isVoteOpened) { %>
   <h2>투표해주셔서 감사합니다. 투표가 종료되면 이메일로 알림이 갑니다.</h2>
  <% } %>
  <% if (loggedInUserEmail === voteData.voteCreator.email) { %>
    <% for( let i = 0; i < voteData.voteItems.length; i++ ) { %>
      <div>
        <p>
          선택지: <%= voteData.voteItems[i].item %>
          투표된 횟수: <%= voteData.voteItems[i].voted %>
        </p>
      </div>
    <% } %>
  <% } %>
  <div>
    <% if (isVoteOpened) { %>
      <% if (!hasVoted) { %>
        <form action='/voting/<%= voteId %>/voted' method='post'>
          <% for( let i = 0; i < voteData.voteItems.length; i++ ) { %>
            <label><%= voteData.voteItems[i].item %>:
              <input type='radio' name='voteItem' value='<%= voteData.voteItems[i].item %>' required>
              <% if (loggedInUserEmail === voteData.voteCreator.email) { %>
                투표된 횟수: <%= voteData.voteItems[i].voted %>
              <% } %>
            </label><br>
          <% } %>
          <button type='submit' onclick='getCheckedItem(event)'>제출</button>
        </form>
      <% } %>
    <% } else { %>
      <h1>
        투표가 종료되었습니다!
      </h1>
      <% for( let i = 0; i < voteData.voteItems.length; i++ ) { %>
        <div>
          <p>
            선택지: <%= voteData.voteItems[i].item %>
            투표된 횟수: <%= voteData.voteItems[i].voted %>
          </p>
        </div>
      <% } %>
    <% } %>
  </div>
</div>
